
.button {
  border-radius: 4px;
  background-color: #001428;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button  {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

/* .button:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
} */

.button:hover  {
  padding-right: 25px;
}

.button:hover:after {
  opacity: 1;
  right: 0;
}
a {
	font-size: 30px;
}
.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}