body {				  
	/* background-image: url("Rise of Morgoth Background.jpg");   */
	
    width: 100%;
    height: 100%;
    margin-left: auto;
	margin-right: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
	background-image: url("images/Sauron.jpg");  
	background-color: #0d0d0d;
/* 	background-repeat: no-repeat; */
/* 	background-position: right-top; */
/* 	background-attachment: fixed; */
	/* margin-left: 2%;				  
	margin-right: 20%; */
	border: none;
	color: #FFFFFF;
	
	
	/* font-family: Arial Black; */
}

h2.ontop {
  position: relative;
  top: 4.7em;
}


section{
	margin-left: auto;
	margin-right: auto;
	margin-top: -6px;
	
	padding-top: 60px;
	padding-bottom: 30px;
	
	border: 3px solid #d11500;
	visibility: visible;
	background-attachment: fixed;
}


.logo {
	width: 13%;
	float: left;
	margin-left: 16px;
	margin-right: 16px;
	padding-left: 0px;
	padding-right: 16px;
	
}

/* .cursorTest {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	cursor:url("../dropdown tab menu/images/Mouse_Cursor_2 clone.gif"), auto;
} */

.infoDropbtn {
    background-color: #330000;
    color: white;
    padding: 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	opacity: 0.9;
}

.infoDropbtn:hover, .infoDropbtn:focus {
    background-color: #950404;
	opacity: 1;
	transition: .8s;
}

.infoDropdown {
	float: left;
	background-attachment: fixed;
    position: relative;
    display: inline-block;
	border: 1px solid black;
}

.infoDropdown-content {
    display: none;
    position: absolute;
    background-color: #8c8c8c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.infoDropdown-content a {
    color: black;
    padding: 16px 16px 16px 32px;
    text-decoration: none;
    display: block;
	position: center center;
}

.infoDropdown-content a:hover {
	background-color: #f1f1f1;
	background-image: url("images/dropdown menu select emblem.png");
	background-repeat: no-repeat;
	background-attachment: absolute;
	background-position: left center;
	padding-left: 48px;
}

.newsDropbtn {
    background-color: #330000;
    color: white;
    padding: 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.newsDropbtn:hover, .newsDropbtn:focus {
    background-color: #950404;
}

.newsDropdown {
	float: left;
    position: relative;
    display: inline-block;
	border: 1px solid black;
}

.newsDropdown-content {
    display: none;
    position: absolute;
    background-color: #8c8c8c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.newsDropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.newsDropdown-content a:hover {
	background-color: #f1f1f1;
}

.profileDropbtn {
    background-color: #330000;
    color: white;
    padding: 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.profileDropbtn:hover, .profileDropbtn:focus {
    background-color: #950404;
}

.profileDropdown {
	float: left;
    position: relative;
    display: inline-block;
	border: 1px solid black;
}

.profileDropdown-content {
    display: none;
    position: absolute;
    background-color: #8c8c8c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.profileDropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profileDropdown-content a:hover {
	background-color: #f1f1f1;
}

.helpDropbtn {
    background-color: #330000;
    color: white;
    padding: 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.helpDropbtn:hover, .helpDropbtn:focus {
    background-color: #950404;
}

.helpDropdown {
	float: left;
    position: relative;
    display: inline-block;
	border: 1px solid black;
}

.helpDropdown-content {
    display: none;
    position: absolute;
    background-color: #8c8c8c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.helpDropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.helpDropdown-content a:hover {
	background-color: #f1f1f1;
}

.show {
	display:block;
}